@model IEnumerable<ManagmentSystem.Business.DTOs.ProductDTOs.ProductListDTO>

@if (Model != null && Model.Any())
{
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4 d-flex justify-content-center text-center">
            <div class="card h-100 custom-card">
                <img class="card-img-top" src="@item.ProductImage" alt="Product Image" style="height: 180px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.ProductName)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.ProductDescription)</p>
                    <p class="card-text"><strong>Price:</strong> @Html.DisplayFor(modelItem => item.ProductPrice) <span class="currency-symbol">₺</span></p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Satın Al</a>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="col-md-12 text-center">
        <p>Bu kategoriye ait ürün bulunamadı.</p>
    </div>
}
