@model ManagmentSystem.Presentation.Areas.Admin.Models.CategoryVMs.AdminCategoryDetailVM

@{
    ViewData["Title"] = "Detaylar";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center" style="background: rgba(255, 255, 255, 0.7); border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                <div class="card-body">
                    <h4 class="card-title">@Html.DisplayFor(model => model.CategoryName)</h4>
                    <h6 class="category text-info text-gradient">Category Details</h6>
                    <p class="card-description">
                        @Html.DisplayFor(model => model.Description)
                    </p>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="btn btn-twitter" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>

